<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>235085579831-omncdnr7ddc811jvsd2a482c66dt69na.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235085579831-omncdnr7ddc811jvsd2a482c66dt69na</string>
	<key>API_KEY</key>
	<string>AIzaSyAiiamfPsUrGwVGY8X1NeiS0OFHwQm7L4I</string>
	<key>GCM_SENDER_ID</key>
	<string>235085579831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tets-gmail.com.GoSuper11</string>
	<key>PROJECT_ID</key>
	<string>gosuper11-1534620066635</string>
	<key>STORAGE_BUCKET</key>
	<string>gosuper11-1534620066635.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235085579831:ios:f35768576b73aa58</string>
	<key>DATABASE_URL</key>
	<string>https://gosuper11-1534620066635.firebaseio.com</string>
</dict>
</plist>